.searchForm {
  @apply
  w-full

  flex
  flex-col
  justify-center
  items-center 
}

.searchFormContainer {
  @apply
  w-full
  p-4

 overflow-hidden
}

.searchForm form {
  @apply
  mb-4
  flex
  flex-col
  gap-2

}

.searchFormHeader {
  @apply
  flex
  justify-between
  text-base-label
}

.searchFormTitle {
  @apply
  text-base-title
}

.searchFormInput {
  @apply
  p-2
  rounded-md
  border-l-8
  border-b-4
  border-transparent

  bg-base-input
  text-base-text
  text-lg
  placeholder:text-base-label
  
  outline-none
  duration-500
  
  focus:pl-4

  focus:border-b-blue
} 

.postCardConainer {
  @apply
  m-2
  grid
  grid-cols-1
  gap-2
  
  md:gap-8
  md:grid-cols-2

  /* overflow-hidden */
}


.postCard {
  @apply
  h-[22rem]
  relative

  p-2
  bg-base-post
  text-base-text
  rounded-lg

  border
  border-transparent
  hover:border-base-border
}

.postCardHeader {
  @apply
  flex
  justify-between
  mb-2
}

.postCardTitle {
  @apply
  text-2xl
  text-base-title
  font-bold
  
  w-2/3
  md:w-3/5
}

.postCardText {
  @apply
  my-4
  overflow-hidden
  line-clamp-4
}

.postCardLink {
  @apply
  absolute
  top-0
  left-0
  rounded-lg

  flex
  justify-center
  items-center
  font-bold
  text-2xl
  text-transparent
  
  hover:text-base-subtitle
  hover:bg-blue

  duration-700

  w-full
  h-full
}
 
